<div class="row" id=" moreCourses">
  <div class="col-12">
    <h3> Open your world</h3>
    <div class="thumbnails row">
      <div class="col-4">
        <div class="thumbnail">
          <img src="assets/banjo.jpg" >

          <div class="label label-success price">
            <span class="glyphicon glyphicon-heart"> Dream</span>
          </div>

          <div class="caption">
            <h3> Get some Perspective</h3>

            <p> Take your trips to new heights with these one of a kind tree houses</p>
            <p>
              <a href="#" class="btn btn-primary btn-small" routerLink="/details" routerLinkActive="active">Details</a>
            </p>
          </div> <!-- End of caption-->
        </div> <!-- End of thumbnail-->
      </div> <!-- End of Col-6-->




      <div class="col-4">
        <div class="thumbnail">
          <img src="assets/banjo.jpg">

          <div class="label label-info price">
            <span class="glyphicon glyphicon-heart"> Explore</span>
          </div>

          <div class="caption">
            <h3> Sail the high seas</h3>

            <p> Follow in the footsteps of adventurers past with boats of all shapes and sizes.
            </p>
            <p>
                <a href="#" class="btn btn-primary btn-small" routerLink="/details" routerLinkActive="active">Details</a>
              </p>
          </div> <!-- End of caption-->
        </div> <!-- End of thumbnail-->
      </div> <!-- End of Col-6-->


      <div class="col-4">
        <div class="thumbnail">
          <img src="assets/banjo.jpg" >

          <div class="label label-success price">
            <span class="glyphicon glyphicon-heart"> Dream</span>
          </div>

          <div class="caption">
            <h3> Get some Perspective</h3>

            <p> Take your trips to new heights with these one of a kind tree houses</p>


            <p>
                <a href="#" class="btn btn-primary btn-small" routerLink="/details" routerLinkActive="active">Details</a>
              </p>
          </div> <!-- End of caption-->
        </div> <!-- End of thumbnail-->
      </div> <!-- End of Col-6-->
    </div> <!-- End of thumbnails row-->
  </div> <!-- End of col-12-->



  

  <div class="col-12">
    <h3> Open your world</h3>
    <div class="thumbnails row">
      <div class="col-4">
        <div class="thumbnail">
          <img src="assets/banjo.jpg" >

          <div class="label label-success price">
            <span class="glyphicon glyphicon-heart"> Dream</span>
          </div>

          <div class="caption">
            <h3> Get some Perspective</h3>

            <p> Take your trips to new heights with these one of a kind tree houses</p>


            <p>
                <a href="#" class="btn btn-primary btn-small" routerLink="/details" routerLinkActive="active">Details</a>
              </p>
          </div> <!-- End of caption-->
        </div> <!-- End of thumbnail-->
      </div> <!-- End of Col-6-->




      <div class="col-4">
        <div class="thumbnail">
          <img src="assets/banjo.jpg">

          <div class="label label-info price">
            <span class="glyphicon glyphicon-heart"> Explore</span>
          </div>

          <div class="caption">
            <h3> Sail the high seas</h3>

            <p> Follow in the footsteps of adventurers past with boats of all shapes and sizes.
            </p>
            <p>
                <a href="#" class="btn btn-primary btn-small" routerLink="/details" routerLinkActive="active">Details</a>
              </p>
          </div> <!-- End of caption-->
        </div> <!-- End of thumbnail-->
      </div> <!-- End of Col-6-->


      <div class="col-4">
        <div class="thumbnail">
          <img src="assets/banjo.jpg" >

          <div class="label label-success price">
            <span class="glyphicon glyphicon-heart"> Dream</span>
          </div>

          <div class="caption">
            <h3> Get some Perspective</h3>

            <p> Take your trips to new heights with these one of a kind tree houses</p>


            <p>
                <a href="#" class="btn btn-primary btn-small" routerLink="/details" routerLinkActive="active">Details</a>
              </p>
          </div> <!-- End of caption-->
        </div> <!-- End of thumbnail-->
      </div> <!-- End of Col-6-->
    </div> <!-- End of thumbnails row-->
  </div> <!-- End of col-12-->

  <div class="col-12">
    <h3> Open your world</h3>
    <div class="thumbnails row">
      <div class="col-4">
        <div class="thumbnail">
          <img src="assets/banjo.jpg" >

          <div class="label label-success price">
            <span class="glyphicon glyphicon-heart"> Dream</span>
          </div>

          <div class="caption">
            <h3> Get some Perspective</h3>

            <p> Take your trips to new heights with these one of a kind tree houses</p>


            <p>
                <a href="#" class="btn btn-primary btn-small" routerLink="/details" routerLinkActive="active">Details</a>
              </p>
          </div> <!-- End of caption-->
        </div> <!-- End of thumbnail-->
      </div> <!-- End of Col-6-->




      <div class="col-4">
        <div class="thumbnail">
          <img src="assets/banjo.jpg">

          <div class="label label-info price">
            <span class="glyphicon glyphicon-heart"> </span>
          </div>

          <div class="caption">
            <h3> Location: Kormangala</h3>

            <p> sqft:1000
            </p>
            <p> warehouse name:afds
            </p>
            <p>
                <a href="#" class="btn btn-primary btn-small" routerLink="/details" routerLinkActive="active">Details</a>
              </p>
          </div> <!-- End of caption-->
        </div> <!-- End of thumbnail-->
      </div> <!-- End of Col-6-->


      <div class="col-4">
        <div class="thumbnail">
          <img src="assets/banjo.jpg" >
          <div class="label label-success price">
            <span class="glyphicon glyphicon-heart"> Dream</span>
          </div>
          <div class="caption">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <p>
                <a href="#" class="btn btn-primary btn-small" routerLink="/details" routerLinkActive="active">Details</a>
              </p>
          </div> <!-- End of caption-->
        </div> <!-- End of thumbnail-->
      </div> <!-- End of Col-6-->
    </div> <!-- End of thumbnails row-->
  </div> <!-- End of col-12-->

