.jumbotron {
    padding-top: 10rem;
    padding-left: 17rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #fff;
    background-image: url('img/banjo.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
  }
  

  .jumbotron .container {
    max-width: 45rem;
    background: rgba(255,255,255,0.2);
    padding: 2rem;
    color: white;

  }
  p{
      color: white;
  }

  #size{
      width: 11rem;
  }

  .wrapper {
    text-align: center; 
    margin: 3rem;
  }



 